.product {
  justify-content: center;
  text-align: center;
  border: 5px solid;
  margin: 20px;
  padding: 10px;
  border-radius: 5%;
  height: auto;
  width: auto;
  background-color: rgba(209, 209, 209, 0.301);
  border-color: gray;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
